/* HaLOS branding overrides */

:root {
  --md-primary-fg-color: #2563eb;
  --md-primary-fg-color--light: #60a5fa;
  --md-primary-fg-color--dark: #1d4ed8;
  --md-accent-fg-color: #3b82f6;
}

.md-header__button.md-logo img {
  height: 2rem;
  width: 2rem;
}
